node_modules/
dist/
release/
release-build/
.env
*.zip
*.log
.DS_Store
C:\Users\ayanc\AppData\Local\npm-cache
C:\Users\ayanc\AppData\Local\Microsoft\WinGet
C:\Users\ayanc\AppData\Local\Programs\AYNX
*.lnk
*.exe
*.msi
*.zip
*.tar.gz
*.tgz
server/data/licenses.json
server/data/users.json
server/data/telemetry.json
server/data/settings.json
